<div class="container">
	<div class="row">
		<status inArrears="inArrears" status="status" balance="balance">
		</status>
	</div>
</div>

<div class="container">
	<ul class="nav nav-pills">
	  <li class="nav-item">
		<a class="nav-link btn btn-secondary" href="#/expense">
			<i class="fas fa-plus"></i>
			New
		</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link btn btn-secondary" href="#">
			<i class="fas fa-sync"></i>
			Reset
		</a>
	  </li>
	</ul>
</div>

<div class="container" id="expensesContainer">
	<div class="row">
		<div class="col-md-6">
			<div class="card border-danger expensesCard">
				<div class="card-header">
					<h1 class="text-danger">Outstanding<h1>
				</div>
				<div class="card-body">
					<expenseinfo updateStatus="updateStatus(balance)" balance="balance" expensesToDisplay="outstandingExpenses" paidExpenses="paidExpenses" outstandingExpenses="outstandingExpenses"></expenseinfo>
				</div>
			    <div class="card-footer">
					Panel footer
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card border-success expensesCard">
				<div class="card-header">
					<h1 class="text-success">Paid<h1>
				</div>
				<div class="card-body">
					<expenseinfo updateStatus="updateStatus(balance)" balance="balance" expensesToDisplay="paidExpenses" paidExpenses="paidExpenses" outstandingExpenses="outstandingExpenses"></expenseinfo>
				</div>
			    <div class="card-footer">
					Panel footer
				</div>
			</div>
		</div>
	</div>
</div>